.header {
  text-align: center;
  padding-top: 40px;
}

.header h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 58px;
  letter-spacing: 5px;
}

.main-content {
  margin: auto;
}

.projects {
  width: 90%;
  display: flex;
  margin: 20px auto;
  height: 40%;
}

.project-prop {
  text-align: center;
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
  width: 70%;
}

.project-prop h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  margin: 20px auto;
  border-bottom: 4px solid lightgray;
  width: 60%;
}


.project-prop p {
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
}

.show-image {
  border: 4px solid #12a6f6;
  border-radius: 100%;
  height: 140px;
  width: 150px;
  margin-bottom: 50px;
}

.hover-image {
  display: none;
  border: 4px solid #12a6f6;
  border-radius: 100%;
  height: 140px;
  width: 150px;
  margin-bottom: 50px;
}

button {
  /*border-radius: 15px;*/
  letter-spacing: 1px;
  margin: 15px auto;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  background-color: #12a6f6;
  color: white;
  width: 90px;
  padding: 5px;
  border: 2.5px solid orange;
}
