!!! 5
%html
  %head
  %title Scott Bartels
  %link(href="#" text="text/css" rel="stylesheet")
  %body
    .header
      .header-text
        %h1 Scotts' Portfolio
        %h2 The Man Himself
      .header-image
        %img(src="#")
      .header-contacts
        %img(src="#")
        %img(src="#")
        %img(src="#")
    .main
      .main-header
        %h2 Coding Arsenal
      .main-content
        .main-prop
          %h3 Projects
        .main-prop
          %h3 About
        .main-prop
          %h3 Contacts
    .footer
      .footer-content
