!!! 5
%html
  %head
  %title Scott Bartels
  %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
  %link(href="stylesheets/style.css" text="text/css" rel="stylesheet")
  %link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
  %link(href="https://fonts.googleapis.com/css?family=Timmana" rel="stylesheet")
  %link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
  %link(href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet")
  %link(href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet")


  %body
    .header
      .header-text.text-center.mt-5
        %h1.letter-spacing-2 Scott's Portfolio
        %h2.mt-5 The Man Himself
      .header-image.mt-5
        %img.img-thumbnail.rounded-circle.rounded.mx-auto.d-block(src="http://www.mommyq.com/wp-content/uploads/stewie-300x279.jpg")
      .header-contacts
        .prop
          %a(href="https://github.com/ScottyyyB")
            %img(src="https://camo.githubusercontent.com/7710b43d0476b6f6d4b4b2865e35c108f69991f3/68747470733a2f2f7777772e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f637469636f6e732f313032342f6d61726b2d6769746875622d3235362e706e67" )
          %h4 Git Hub
        .prop
          %a(href="https://www.linkedin.com/")
            %img(src="https://upload.wikimedia.org/wikipedia/commons/a/a9/LinkE.png")
          %h4 Linkedin
        .prop
          %a(href="https://stackoverflow.com/")
            %img(src="https://cdn4.iconfinder.com/data/icons/miu-flat-social/60/stackoverflow-128.png")
          %h4 Overflow
    .main.text-center
      .main-header
        %h2 Coding Arsenal
      .main-content
        .main-prop
          %h3 Projects
          #carouselExampleControls.carousel.slide{"data-ride" => "carousel"}
            .carousel-inner
              .carousel-item.active
                %h5 ATM Challenge
                %img.d-block.w-100{:alt => "First slide", :src => "https://cdn.dribbble.com/users/1299339/screenshots/3076212/atm_d.gif"}/
                %a(href="https://github.com/ScottyyyB/ATM-Challenge")
                  %button(type="button") View Project
              .carousel-item
                %h5 Library Challenge
                %img.d-block.w-100{:alt => "Second slide", :src => "https://media.gq.com/photos/58f51ff764989314dc1bd034/master/pass/GQ-04-book-a-week.gif"}/
                %a(href="https://github.com/ScottyyyB/library-challenge")
                  %button(type="button") View Project
              .carousel-item
                %h5 BMI Challenge
                %img.d-block.w-100{:alt => "Third slide", :src => "https://i.pinimg.com/originals/5d/7e/b5/5d7eb57f1abddf4ea6480899a4975427.gif"}/
                %a(href="https://github.com/ScottyyyB/BMI-Challenge")
                  %button(type="button") View Project
              .carousel-item
                %h5 Cooper Challenge
                %img.d-block.w-100{:alt => "Four slide", :src => "https://cdn.dribbble.com/users/291221/screenshots/1618460/hipster_runner.gif"}/
                %a(href="https://github.com/ScottyyyB/Cooper-Challenge")
                  %button(type="button") View Project
            %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleControls", :role => "button"}
              %span.carousel-control-prev-icon{"aria-hidden" => "true"}
              %span.sr-only Previous
            %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleControls", :role => "button"}
              %span.carousel-control-next-icon{"aria-hidden" => "true"}
              %span.sr-only Next


        .main-prop
          %h3 About
          %p Brief description about myself, my name is Scott Bartels, I am 18 years old and I am from the Netherlands. My main hobbies are, coding, sports, gaming and animals. I am the youngest in a family of four. I have one sister, her name is Kristhy, she is Twenty one and studies Psychology. I have a father named Guido, Italian I know, however he is dutch, he is Fifty Six, and works for Amazon Web Services. I also have a mother, her name is Anja, she is Fifty years young, is a house mom and is the absolute best at it! As of writing this description, also props to Craft Acadeny, they are the absolute best!

    -# .footer
    -#   .footer-content
    -#     -# .projects
    -#     -#   - data.projects.each do |project|
    -#     -#     %h3= project[:title]
    -#     -#     %p= project[:description]
    -#     -# %h4 @17sb@cis.dk
