!!! 5
%html
%head
  %title Projects Page
%body
  .header
    %h1 My Work
  .main
    .projects-content
      .project-prop
        %img(src="#")
        %img(src="#")
        %h3 The Task
        %p I was assigned to
        %h3 Description
        %p A description
      .project-prop
        %img(src="#")
        %img(src="#")
        %h3 The Task
        %p I was assigned to
        %h3 Description
        %p A description
      .project-prop
        %img(src="#")
        %img(src="#")
        %h3 The Task
        %p I was assigned to
        %h3 Description
        %p A description
      .project-prop
        %img(src="#")
        %img(src="#")
        %h3 The Task
        %p I was assigned to
        %h3 Description
        %p A description
