!!! 5
%html
%head
  %title Projects Page
  %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
  %link(href="stylesheets/main.css" text="text/css" rel="stylesheet")
%body
  .header
    %h1 My Work
  .main-content
    .projects
      -# %img(src="http://www.clker.com/cliparts/e/7/6/8/13763528842074094363dollar-bill.jpg")
      - data.projects.each do |project|
        .project-prop
          %img.show-image(src="#{project[:image]}")
          %h4#project-head= project[:title]
          %p= project[:description]
          %a(href="#{project[:projectlink]}")
            %button(type="button") Project
